@font-face {
  font-family: BebasNeue;
  src: url('../fonts/bebasneue_regular.eot');
  src: url('../fonts/bebasneue_regular.eot?#iefix') format('embedded-opentype'), url('../fonts/bebasneue_regular.woff2') format('woff2'), url('../fonts/bebasneue_regular.woff') format('woff'), url('../fonts/bebasneue_regular.ttf') format('truetype'), url('../fonts/bebasneue_regular.svg#svgFontName') format('svg');
}
@font-face {
  font-family: HelveticaNeue;
  src: url('../fonts/helveticaneuecyr-medium.eot');
  src: url('../fonts/helveticaneuecyr-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneuecyr-medium.woff2') format('woff2'), url('../fonts/helveticaneuecyr-medium.woff') format('woff'), url('../fonts/helveticaneuecyr-medium.ttf') format('truetype'), url('../fonts/helveticaneuecyr-medium.svg#svgFontName') format('svg');
}
body {
  font-family: BebasNeue, Arial, sans-serif !important;
}
p {
  font-family: HelveticaNeue;
}
a {
  color: #e8603c;
}
a {
  color: #e8603c !important;
  text-decoration: none!important;
}
* {
  outline: none!important;
}
nav.navbar {
  border: 0;
  background: transparent;
  margin: 0;
  height: 70px;
}
nav.navbar h1 {
  float: left;
  margin: 0;
}
nav.navbar h1 a.navbar-brand {
  font-size: 45px;
  font-weight: 800;
  margin-top: 5px;
  letter-spacing: 2px;
}
nav.navbar h1 span {
  color: #f5bdae;
}
nav.navbar ul li a {
  line-height: 45px;
  font-weight: 600;
  letter-spacing: 1.1px;
  font-size: 20px;
  color: #b9b9b9 !important;
  padding: 12px;
}
nav.navbar ul li.active a,
nav.navbar ul li.active a:hover {
  color: #e8603c !important;
  background: transparent!important;
}
nav.navbar ul li a:hover {
  color: #e8603c !important;
  background: transparent!important;
}
nav.navbar li:last-child a {
  padding-right: 0px;
}
#slider {
  position: relative;
}
#slider #side-stripes {
  background: #f5bdae;
  height: 62px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
#slider .container {
  z-index: 10;
  position: relative;
  background: #fff;
}
#slider .carousel-indicators {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: static;
  margin: 0;
  margin-top: 17px;
}
#slider .carousel-indicators li {
  border: 0;
  width: 15%;
  margin: 0;
  height: auto;
}
#slider .carousel-indicators li img {
  display: block;
  width: 100%;
}
#slider .carousel-indicators li.active {
  border: 2px solid #e8603c;
  border-radius: 0;
}
#intro-articles {
  margin-bottom: 43px;
}
#intro-articles h1 {
  padding-left: 70px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 37px;
  margin-bottom: 30px;
}
#intro-articles p {
  min-height: 120px;
  line-height: 18px;
  font-size: 12px;
  padding-bottom: 22px;
}
#intro-articles button {
  background: #e8603c;
  color: #fff;
  border: 0;
  padding: 5px 18px 2px 14px;
  line-height: 25px;
  font-weight: 500;
  font-size: 14px;
}
#intro-articles article:nth-child(1) h1 {
  background: url(../images/icon-gear.png) 0 1px no-repeat;
}
#intro-articles article:nth-child(2) h1 {
  background: url(../images/icon-check.png) 0 2px no-repeat;
}
#intro-articles article:nth-child(3) h1 {
  background: url(../images/icon-man.png) 0 2px no-repeat;
}
#recent-works {
  margin-bottom: 28px;
}
#recent-works #h1-background {
  background: url(../images/header_line.png) 0 0 repeat-x;
  padding-bottom: 20px;
}
#recent-works h1 {
  background: #fff;
  display: inline;
  font-size: 22px;
  letter-spacing: 1px;
  padding-right: 21px;
}
#recent-works #recent-item img {
  width: 100%;
  margin-bottom: 5px;
}
#recent-works .recent {
  margin-bottom: 20px;
}
#recent-works .recent > div {
  border: 1px solid #dfdfdf;
  border-top: none;
}
#recent-works h2 {
  padding: 12px 13px 0px;
  margin: 0;
  font-size: 20px;
  letter-spacing: 0.68;
}
#recent-works h2 a {
  color: #b9b9b9 !important;
}
#recent-works p {
  color: #e8603c;
  padding: 0 13px;
  font-size: 13px;
  letter-spacing: 0.3px;
  font-weight: 600;
  text-transform: uppercase;
}
